* {
    margin: 0;
    padding: 0;
}
header, main, footer, nav, aside, section, div  {
    display: block;
}
a{
    text-decoration: none;
    color: #000000;
    font-family: 'Amiko';
    font-size: 24px;
    line-height: 33px;
    margin-right: 18px;
}
a:visited { 
    text-decoration: none; 
    color: #000000;
}
a:hover{
    color: #CD5C5C;
}
body{
    position: relative;
}
header{
    height: 123px;
    width: 100%;
    background-color:#F2E9E9;
}
footer{
    position: fixed;
    width: 100%;
    height: 41px;
    bottom: 0;
    background: #000000;
}
a.selected{
    color: #CD5C5C;
}
.selected-dot{
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: #CD5C5C;
}
#first-selected{
    bottom: 30px;
    left: 30px;
}
#second-selected{
    bottom: 30px;
    left: 115px;
}
#third-selected{
    bottom: 10px;
    left: 230px;
}
#wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* *********************************************** */
#body1 > header > div {
    position: relative;
    top: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#body1 >div > main{
    display: flex;
    justify-content: flex-start;
}
#body1 > div > main > aside > div > section{
    background-color: #CD5C5C;
}
#logo > h1 {
    color: #000000;
    font-family: 'Amiko';
    font-size: 72px;
    font-weight: 700;
    line-height: 96.05x;
}
#logo > h4 {
    color: #000000;
    font-family: 'Amiko';
    Font-size: 24px;
    font-weight: 700;
    Line-height: 32.02px;
}
#logo {
    margin-top: 267px;
    width: 374px;
    height: 120px;
}
#body1 > div > main > aside{
    width: 437px;
    height: 624px;
    margin-top: 91px;
    margin-left: 70px;
    margin-bottom: 145px;
    display: flex;
}
#rectangle1 {
    margin-top: 44px;
    width: 75px;
    height: 23px;
}
#rectangle2 {
    margin-top: 8px;
    width: 136px;
    height: 46px;
}
#rectangle3 {
    margin-top: 11px;
    width: 134px;
    height: 404px;
}
#rectangle4 {
    margin-top: 11px;
    width: 88px;
    height: 28px;
}
#body1 > div > main > aside > div:first-child > div{
    width: 57px;
    height: 26px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}
#rectangle5 {
    width: 25px;
    height: 26px;
    background-color: #CD5C5C;
}
#rectangle6 {
    width: 25px;
    height: 26px;
    background-color: #CD5C5C;
}
#body1 > div > main > aside > div:nth-child(2){
    margin-left: 15px;
    width: 246px;
    height: 580px;
}
#rectangle7 {
    margin-top: 44px;
    width: 246px;
    height: 352px;
}
#rectangle8 {
    margin-top: 16px;
    width: 123px;
    height: 212px;
}
#rectangle9 {
    width: 55px;
    height: 105px;
    position: relative;
    bottom: 212px;
    left: 137px;
}
#rectangle10 {
    width: 110px;
    height: 58px;
    position: relative;
    left: 137px;
    bottom: 204px;
}
#body1 > div > main > aside > div:last-child{
    margin-left: 14px;
}
#rectangle11 {
    width: 55px;
    height: 105px;
    position: relative;
    right: 27px;
    top: 5px;
}
#rectangle12 {
    width: 28px;
    height: 55px;
    margin-bottom: 11px;
}
#rectangle13 {
    width: 28px;
    height: 55px;
    margin-bottom: 11px;
}
#rectangle14 {
    width: 28px;
    height: 55px;
    margin-bottom: 11px;
}
#rectangle15 {
    width: 28px;
    height: 198px;
    margin-bottom: 11px;
}
/* *********************************************** */
#body2{
    max-height: 2024px;
}
#body2 > header > div {
    position: relative;
    top: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#body2 > div > main {
    width: 1440px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
#body2 > div > main > div:first-child > section{
    width: 457px;
    height: 299px;
    background-color: #C4C4C4;
    margin-bottom: 70px;
    margin-top: 119px;
}
#body2 > div > main > div:nth-child(2) > section{
    width: 457px;
    height: 299px;
    background-color: #C4C4C4;
    margin-bottom: 70px;
    margin-top: 119px;
}
#body2 > div > main > div:first-child > section:last-child{
    width: 457px;
    height: 265px;
    background-color: #C4C4C4;
    margin-top: 119px;
    margin-bottom: 0px;
}
#body2 > div > main > div:nth-child(2) > section:last-child{
    width: 457px;
    height: 128px;
    background-color: #C4C4C4;
    margin-top: 119px;
    margin-bottom: 0px;
}
#body2 > div > main > div:first-child{
    margin-left: 151x;
}
#body2 > div > main > div:nth-child(2){
    margin-left: 55px;
    margin-top: 168px;
}
#body2 > div > main > aside{
    float: right;
    background-color: #CD5C5C;
    width: 169px;
    margin-left: 151px;
}
#body2 > div > main > aside > section:first-child{
    background-color: #000000;
    height: 80px;
    width: 80px;
    margin-top: 119px;
}
#body2 > div > main > aside > section:nth-last-child(2){
    background-color: #000000;
    height: 80px;
    width: 80px;
    margin-top: 289px;
}
#body2 > div > main > aside > section:nth-child(2){
    background-color: #FFFFFF;
    height: 80px;
    width: 80px;
    position: relative;
    margin-top: 48px;
    margin-left: 89px;
}
#body2 > div > main > aside > div{
    display: flex;
    flex-direction: column;
    margin-top: 760px;
    text-align: center;
    gap: 100px;
}
#body2 > div > main > aside > div > a{
    color: #000000;
    font-family: 'Amiko';
    font-size: 96px;
    line-height: 96.05x;
}
#body2 > div > main > aside > div > a:hover{
    color: #000000;
}
/* *********************************************** */
#body3 > div > main > div:first-child {
    display: flex;
    justify-content: space-between;
}
#body3 > div > main > div:first-child > section:first-child{
    width: 372px;
    height: 995px;
    background-color: #E5E5E5;
}
#body3 > div > main > div:first-child > section:nth-child(2){
    width: 964px;
    height: 995px;
}
#body3 > div > main > div:first-child > section:last-child{
    width: 104px;
    height: 995px;
    background-color: #1847EF;
    opacity: 0.3;
}
#body3 > div > main > aside > section{
    width: 100%;
    height: 463px;
    background-color: #CD5C5C;
}
#body3 > div > main > div:first-child > section:first-child >nav{
    position: relative;
    margin-left: 38px;
    margin-top: 123px;
}
/* *********************************************** */
@media only screen and (max-width: 1420px){
    #body3 > div > main > div:first-child{
        display: flex;
        flex-direction: column;
    }
    #body3 > div > main > div:first-child > section:last-child{
        display: none;
    }
    #body3 > div > main > div:first-child > section:first-child{
        width: 100%;
        height: 105px;
        background-color: #E5E5E5;
    }
    #body3 > div > main > div:first-child > section:first-child >nav{
        position: relative;
        margin-left: 38px;
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #body3 > div > main > div:first-child > section:nth-child(2){
        width: 100%;
        height: 1346px;
    }
    #body3 > div > main{
        width: 100%;
    }
    #third-selected{
        bottom: 25px;
        left: 230px;
    }
}