* {
    margin: 0;
    padding: 0;
}
header, main, footer, nav, aside, section, div  {
    display: block;
}
a{
    text-decoration: none;
    color: #000000;
    font-family: 'Amiko';
    font-size: 24px;
    line-height: 33px;
    margin-right: 18px;
}
a:visited { 
    text-decoration: none; 
    color: #000000;
}
a:hover{
    color: #CD5C5C;
}
body{
    position: relative;
}
a.selected{
    color: #CD5C5C;
}
.selected-dot1{
    position: relative;
    width: 14px;
    height: 14px;
    bottom: 30px;
    left: 30px;
    border-radius: 100%;
    background: #CD5C5C;
}
.selected-dot2{
    position: relative;
    width: 14px;
    height: 14px;
    bottom: 30px;
    left: 115px;
    border-radius: 100%;
    background: #CD5C5C;
}
.selected-dot3{
    position: relative;
    width: 14px;
    height: 14px;
    bottom: 10px;
    left: 230px;
    border-radius: 100%;
    background: #CD5C5C;
}
/* *********************************************** */
.header1 {
    height: 123px;
    width: 100%;
    background-color:#F2E9E9;
}
#links {
    position: relative;
    top: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrapper1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main1 {
    display: flex;
    justify-content: flex-start;
}
.main1 > aside > div > section{
    background-color: #CD5C5C;
}
.logo1 {
    color: #000000;
    font-family: 'Amiko';
    font-size: 72px;
    font-weight: 700;
    line-height: 96.05x;
}
.logo2 {
    color: #000000;
    font-family: 'Amiko';
    Font-size: 24px;
    font-weight: 700;
    Line-height: 32.02px;
}
#logo {
    margin-top: 267px;
    width: 374px;
    height: 120px;
}
.aside-page1{
    width: 437px;
    height: 624px;
    margin-top: 91px;
    margin-left: 70px;
    margin-bottom: 145px;
    display: flex;
}
#rectangle1 {
    margin-top: 44px;
    width: 75px;
    height: 23px;
}
#rectangle2 {
    margin-top: 8px;
    width: 136px;
    height: 46px;
}
#rectangle3 {
    margin-top: 11px;
    width: 134px;
    height: 404px;
}
#rectangle4 {
    margin-top: 11px;
    width: 88px;
    height: 28px;
}
#page1-container1{
    width: 57px;
    height: 26px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}
#rectangle5 {
    width: 25px;
    height: 26px;
    background-color: #CD5C5C;
}
#rectangle6 {
    width: 25px;
    height: 26px;
    background-color: #CD5C5C;
}
#page1-container2{
    margin-left: 15px;
    width: 246px;
    height: 580px;
}
#rectangle7 {
    margin-top: 44px;
    width: 246px;
    height: 352px;
}
#rectangle8 {
    margin-top: 16px;
    width: 123px;
    height: 212px;
}
#rectangle9 {
    width: 55px;
    height: 105px;
    position: relative;
    bottom: 212px;
    left: 137px;
}
#rectangle10 {
    width: 110px;
    height: 58px;
    position: relative;
    left: 137px;
    bottom: 204px;
}
#page1-container3{
    margin-left: 14px;
}
#rectangle11 {
    width: 55px;
    height: 105px;
    position: relative;
    right: 27px;
    top: 5px;
}
#rectangle12 {
    width: 28px;
    height: 55px;
    margin-bottom: 11px;
}
#rectangle13 {
    width: 28px;
    height: 55px;
    margin-bottom: 11px;
}
#rectangle14 {
    width: 28px;
    height: 55px;
    margin-bottom: 11px;
}
#rectangle15 {
    width: 28px;
    height: 198px;
    margin-bottom: 11px;
}
footer{
    position: fixed;
    width: 100%;
    height: 41px;
    bottom: 0;
    background: #000000;
}
/* *********************************************** */
#wrapper2{
    display: flex;
    justify-content: flex-start;
}
body#page2{
    max-height: 2024px;
}
#main2 {
    display: flex;
    justify-content: flex-end;
}
.page2-rectangles-shape{
    width: 457px;
    height: 299px;
    background-color: #C4C4C4;
    margin-bottom: 70px;
    margin-top: 119px;
}
.page2-rectangles-shape2{
    width: 457px;
    height: 265px;
    background-color: #C4C4C4;
    margin-top: 119px;
}
.page2-rectangles-shape3{
    width: 457px;
    height: 128px;
    background-color: #C4C4C4;
    margin-top: 119px;
}
#page2-container2{
    margin-left: 55px;
    margin-top: 168px;
}
.aside2{
    background-color: #CD5C5C;
    width: 169px;
    margin-left: 151px;
}
.page2-square1{
    background-color: #000000;
    height: 80px;
    width: 80px;
    margin-top: 119px;
}
.page2-square2{
    background-color: #000000;
    height: 80px;
    width: 80px;
    margin-top: 289px;
}
.page2-square3{
    background-color: #FFFFFF;
    height: 80px;
    width: 80px;
    position: relative;
    margin-top: 48px;
    margin-left: 89px;
}
#page2-letters{
    display: flex;
    flex-direction: column;
    margin-top: 720px;
}
.letter{
    color: #000000;
    font-family: 'Amiko';
    font-size: 96px;
    line-height: 96.05x;
    margin-left: 44px;
    margin-bottom: 100px;
}
#page2-letters > a:hover{
    color: #000000;
}
.letter2{
    color: #000000;
    font-family: 'Amiko';
    font-size: 96px;
    line-height: 96.05x;
    margin-left: 60px;
    margin-bottom: 0px;
}
/* *********************************************** */
#columns-container{
    display: flex;
    justify-content: space-between;
}
#left-column{
    width: 372px;
    height: 995px;
    background-color: #E5E5E5;
}
#middle-column{
    width: 964px;
    height: 995px;
}
#right-column{
    width: 104px;
    height: 995px;
    background-color: #1847EF;
    opacity: 0.3;
}
#bottom-aside{
    width: 100%;
    height: 463px;
    background-color: #CD5C5C;
}
#nav3{
    position: relative;
    margin-left: 38px;
    margin-top: 123px;
}
/* *********************************************** */
@media only screen and (max-width: 1420px){
    #columns-container{
        display: flex;
        flex-direction: column;
    }
    #right-column{
        display: none;
    }
    #left-column{
        width: 100%;
        height: 105px;
        background-color: #E5E5E5;
    }
    #nav3{
        position: relative;
        margin-left: 38px;
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #middle-column{
        width: 100%;
        height: 1346px;
    }
}